apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik-crds
  namespace: argocd
spec:
  project: default
  syncPolicy:
    automated:
      selfHeal: true
  sources:
    - repoURL: https://traefik.github.io/charts
      chart: traefik-crds
      targetRevision: 1.12.0
  destination:
    server: "https://kubernetes.default.svc"
    namespace: traefik