apiVersion: v1
kind: Service
metadata:
  labels:
    app: netbootxyz
  name: netbootxyz
  namespace: netbootxyz  
spec:
  selector:
    app: netbootxyz
  ports:
    - name: web
      port: 3000
      protocol: TCP
      targetPort: 3000
    - name: assets
      port: 80
      protocol: TCP
      targetPort: 80
