global:
  checkNewVersion: false
  sendAnonymousUsage: false

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"

deployment:
  enabled: true
  replicas: 1
  revisionHistoryLimit: 3

ingressRoute:
  dashboard:
    enabled: false

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowCrossNamespace: true
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: true

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        priority: 10
  websecure:
    http3:
      enabled: false
    tls:
      enabled: true
  webext:
    port: 8001
    expose:
      default: true
    exposedPort: 81
  websecxt:
    port: 8444
    expose:
      default: true
    exposedPort: 444
    http3:
      enabled: false
    tls:
      enabled: true
  ldaps:
    port: 636
    expose:
      default: true
    exposedPort: 636

service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    loadBalancerIP: 192.168.10.50
  loadBalancerSourceRanges: []
  externalIPs: []

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

rbac:
  enabled: true

resources:
  limits:
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi