---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: authentik
  namespace: default
  annotations: 
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
    - ldaps
  routes:
    - kind: Rule
      match: Host(`auth.mandariini.uk`)
      services:
        - name: authentik-server
          namespace: authentik
          port: 80
        - name: ak-outpost-ldap
          namespace: authentik
          port: 636
  tls:
    secretName: mandariini-uk-tls