global:
  envFrom:
    - secretRef:
        name: envsecrets

authentik:
  email:
    port: ""
    use_tls: ""
    use_ssl: ""
    timeout: ""
  postgresql:
    host: authentik-pg-rw
    password: file:///postgres-creds/password

server:
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true
    - name: media
      mountPath: /media
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres-credentials
    - name: media
      persistentVolumeClaim:
        claimName: media

worker:
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres-credentials