global:
  envFrom:
    - secretRef:
        name: envsecrets

authentik:
  email:
    port: ""
    use_tls: ""
    use_ssl: ""
    timeout: ""
  postgresql:
    host: authentik-postgresql-rw
    password: file:///postgres-creds/password

server:
  replicas: 2
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres-credentials

worker:
  replicas: 2
  volumeMounts:
    - name: postgres-creds
      mountPath: /postgres-creds
      readOnly: true
  volumes:
    - name: postgres-creds
      secret:
        secretName: authentik-postgres-credentials