global:
  envFrom:
    - secretRef:
        name: envsecrets

authentik:
  email:
    port: ""
    use_tls: ""
    use_ssl: ""
    timeout: ""

server:
  volumeMounts:
    - name: media
      mountPath: /media
  volumes:
    - name: media
      persistentVolumeClaim:
        claimName: media

postgresql:
  enabled: true
  auth:
    enablePostgresUser: false
    existingSecret: "envsecrets"
    secretKeys:
      userPasswordKey: AUTHENTIK_POSTGRESQL__PASSWORD
  primary:
    persistence:
      enabled: true
      existingClaim: "postgresql"