global:
  envFrom:
    - secretRef:
        name: envsecrets

authentik:
  email:
    port: ""
    use_tls: ""
    use_ssl: ""
    timeout: ""
  postgresql:
    host: authentik-pg-rw
    password: ${AUTHENTIK_POSTGRESQL__PASSWORD}

server:
  volumeMounts:
    - name: media
      mountPath: /media
  volumes:
    - name: media
      persistentVolumeClaim:
        claimName: media