---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: jellyfin
  name: jellyfin
  namespace: media
spec:
  selector:
    app: jellyfin
  ports:
    - name: web
      port: 8096
      protocol: TCP
      targetPort: 8096